<div class=" knowmore ">
    <div class="knowmore-content">
        <b>Know More</b>

        <p>Begin with the basic details of your customer to create instance.
        Email ID is mandatory for live onboarding. A remote link access will be provided via email.
        </p>
        <p>
        Perform end to end due-diligence and checks.</p>
        <span class="danger">
        You may proceed with the default risk policy template and make changes later in the process.</span>
    </div>
  </div>