<nav>
    <ul>
      <li>
        <a href="#" class="vector-logo" id="logo"></a>
      </li>
      <li>
        <img src="../assets/images/home.png" class="vector-home" /><a
          href="#"
          id="home"
          >Home</a
        >
      </li>
      <li>
        <img src="../assets/images/AML.png" class="vector-AML" /><a
          href="#"
          id="AML-Check"
          >AML Check</a
        >
      </li>

      <li>
         
        <img
          src="../assets/images/onboarding.png"
          class="vector-onboarding"
        /> <a class="active" href="#" id="Onboarding">Onboarding</a>
      
      </li>
      <li>
        <img src="../assets/images/risk.png" class="vector-risk" /><a
          href="#"
          id="Risk-Policy"
          >Risk Policy</a
        >
      </li>
      <li>
        <img src="../assets/images/reports.png" class="vector-reports" /><a
          href="#"
          id="Reports"
          >Reports</a
        >
      </li>
      <li>
        <img src="../assets/images/settings.png" class="vector-settings" /><a
          href="#"
          id="Settings"
          >Settings</a
        >
      </li>
      <li>
        <img src="../assets/images/billing.png" class="vector-billing" /><a
          href="#"
          id="Billing"
          >Billing</a
        >
      </li>

      <li>
        <img src="../assets/images/billing.png" class="vector-faqs" /><a
          href="#"
          id="FAQs"
          >FAQs</a
        >
      </li>
    </ul>
  </nav>